.wrapper.wrapper-content.animated.fadeInRight
  .row
    - unless @showing_trackings.any?
      %h2 You Haven't Reviewed Any Homes yet
      %h3.mt20
        Lets do that now:
        = link_to "Review", new_user_showing_tracking_path(@user), class: "btn btn-xs btn-warning"

    - @showing_trackings.each do |showing_tracking|
      .col-lg-4.col-sm-12
        .ibox.float-e-margins
          .ibox-title
            %h3
              = showing_tracking.street_address
              ,
              = showing_tracking.city
          .ibox-content
            %h4 Basics
            %table
              %tr
                %td.col-sm-3
                  %strong Price
                %td= number_to_currency(showing_tracking.price, precision: 0)
              %tr
                %td.col-sm-3
                  %strong Sq Feet
                %td= number_with_delimiter showing_tracking.square_footage
              %tr
                %td.col-sm-3
                  %strong Beds
                %td= number_with_precision(showing_tracking.bedrooms, precision: 0)
              %tr
                %td.col-sm-3
                  %strong Baths
                %td= number_with_precision(showing_tracking.bathrooms, precision: 0)

            - if showing_tracking.general_condition
              .mt20
                %h4 General Condition
                .progress.progress-mini
                  .progress-bar{style: "width: #{(showing_tracking.general_condition / 5 * 100)}%;"}

            - if showing_tracking.neighborhood
              .mt20
                %h4 Neighborhood
                .progress.progress-mini
                  .progress-bar{style: "width: #{(showing_tracking.neighborhood / 5 * 100)}%;"}

            - if showing_tracking.commute
              .mt20
                %h4 Commute
                .progress.progress-mini
                  .progress-bar{style: "width: #{(showing_tracking.commute / 5 * 100)}%;"}

            - if showing_tracking.exterior
              .mt20
                %h4 Exterior
                .progress.progress-mini
                  .progress-bar{style: "width: #{(showing_tracking.exterior / 5 * 100)}%;"}

            - if showing_tracking.kitchen
              .mt20
                %h4 Kitchen
                .progress.progress-mini
                  .progress-bar{style: "width: #{(showing_tracking.kitchen / 5 * 100)}%;"}
            - if showing_tracking.design_personality
              .mt20
                %h4 Design Personality
                .progress.progress-mini
                  .progress-bar{style: "width: #{(showing_tracking.design_personality   / 5 * 100)}%;"}
            - if showing_tracking.home_layout
              .mt20
                %h4 Home Layout
                .progress.progress-mini
                  .progress-bar{style: "width: #{(showing_tracking.home_layout   / 5 * 100)}%;"}
            - if showing_tracking.landscaping
              .mt20
                %h4 Landscaping
                .progress.progress-mini
                  .progress-bar{style: "width: #{(showing_tracking.landscaping/ 5 * 100)}%;"}
            - if showing_tracking.local_schools
              .mt20
                %h4 Local Schools
                .progress.progress-mini
                  .progress-bar{style: "width: #{(showing_tracking.local_schools / 5 * 100)}%;"}
            - if showing_tracking.master_bedroom
              .mt20
                %h4 Master Bedroom
                .progress.progress-mini
                  .progress-bar{style: "width: #{(showing_tracking.master_bedroom / 5 * 100)}%;"}
            - if showing_tracking.notes
              .mt20
                %h4 Notes
                %p= showing_tracking.notes
