.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-sm-6.col-sm-offset-3
      -#validates errors div
      = render "layouts/validation_errors", :model => @showing_tracking
  .row
    .col-lg-7
      .ibox.float-e-margins
        .ibox-title
          %h3
            Track a New Showing
        .ibox-content
          .row
            .col-sm-10

              -# %h3.m-t-none.m-b Create a Contact
              -# %p Sign in today for more expirience.
              = form_for [@user, @showing_tracking] do |f|
                .form-group
                  = f.label :street_address, "Street Address"
                  = f.text_field :street_address, class: "form-control"
                .form-group
                  = f.label :city, "City"
                  = f.text_field :city, class: "form-control"
                  .form-group
                  = f.label :price, "Price"
                  = f.number_field :price, class: "form-control"
                  .form-group
                  = f.label :square_footage, "Square Footage"
                  = f.number_field :square_footage, class: "form-control"
                  .form-group
                  = f.label :bedrooms, "Num of Bedrooms"
                  = f.number_field :bedrooms, class: "form-control"
                  .form-group
                  = f.label :bathrooms, "Num of Bathrooms"
                  = f.number_field :bathrooms, class: "form-control"
                .form-group
                  = f.label :general_condition, "General Condition"
                  = f.hidden_field :general_condition, id: "general_condition"
                .form-group
                  = f.label :neighborhood, "Neighborhood"
                  = f.hidden_field :neighborhood, id: "neighborhood"
                .form-group
                  = f.label :commute, "Commute"
                  = f.hidden_field :commute, id: "commute"
                .form-group
                  = f.label :exterior, "Exterior"
                  = f.hidden_field :exterior, id: "exterior"
                .form-group
                  = f.label :kitchen, "Kitchen"
                  = f.hidden_field :kitchen, id: "kitchen"
                .form-group
                  = f.label :design_personality, "Design Personality"
                  = f.hidden_field :design_personality, id: "design"
                .form-group
                  = f.label :home_layout, "Home Layout"
                  = f.hidden_field :home_layout, id: "layout"
                .form-group
                  = f.label :landscaping, "Landscaping"
                  = f.hidden_field :landscaping, id: "landscaping"
                .form-group
                  = f.label :local_schools, "Local Schools"
                  = f.hidden_field :local_schools, id: "schools"
                .form-group
                  = f.label :master_bedroom, "Master Bedroom"
                  = f.hidden_field :master_bedroom, id: "master"
                .form-group
                  = f.label :notes, "Notes"
                  = f.text_area :notes, class: "form-control"
                .form-group
                  = f.submit "Create", class: "btn btn-primary"



- content_for :javascript do
  :javascript
    $(function() {
      console.log("Showing Tracking Javascript Running");

      $("#general_condition").ionRangeSlider({
        min: 1,
        max: 5,
        grid: true,
        from: 3,
      });

      $("#neighborhood").ionRangeSlider({
        min: 1,
        max: 5,
        grid: true,
        from: 3,
      });

      $("#commute").ionRangeSlider({
        min: 1,
        max: 5,
        grid: true,
        from: 3,
      });

      $("#exterior").ionRangeSlider({
        min: 1,
        max: 5,
        grid: true,
        from: 3,
      });

      $("#kitchen").ionRangeSlider({
        min: 1,
        max: 5,
        grid: true,
        from: 3,
      });

      $("#design").ionRangeSlider({
        min: 1,
        max: 5,
        grid: true,
        from: 3,
      });
      $("#layout").ionRangeSlider({
        min: 1,
        max: 5,
        grid: true,
        from: 3,
      });
      $("#landscaping").ionRangeSlider({
        min: 1,
        max: 5,
        grid: true,
        from: 3,
      });
      $("#schools").ionRangeSlider({
        min: 1,
        max: 5,
        grid: true,
        from: 3,
      });
      $("#master").ionRangeSlider({
        min: 1,
        max: 5,
        grid: true,
        from: 3,
      });
    });
