%main#main.site-main
  .container
    .row
      .col-sm-7
        -#validates errors div
        = render "layouts/validation_errors", :model => @user

      .col-xs-7
        %h1 Sign Up
        - if @agent
          %h3.m-t-lg.m-b-lg
            Welcome, you are signing up as a client of
            %strong= @agent.full_name

        = form_for @user do |f|
          .form-group
            = f.label :first_name, class: "label-control"
            = f.text_field :first_name, class: "form-control"
          .form-group
            = f.label :last_name, class: "label-control"
            = f.text_field :last_name, class: "form-control"
          .form-group
            = f.label :email, class: "label-control"
            = f.text_field :email, class: "form-control"

          -if @agent
            .form-group
              = f.hidden_field :agent_id, value: @agent.id

          - else @agent
            .form-group
              = f.label :is_agent, "Are You An Agent or a Buyer?", class: "label-control"
              = f.select :is_agent, [["Buyer", 0],["Agent", 1]], class: "form-control"
            .form-group
              = f.label :agent_id, "Who is your Agent?", class: "label-control"
              = f.select(:agent_id, @agents.all.collect {|agent| [agent.full_name, agent.id]}, :prompt => "I don't have one")

          .form-group
            = f.label :password, class: "label-control"
            = f.password_field :password, class: "form-control"
          .form-group
            = f.label :password_confirmation, class: "label-control"
            = f.password_field :password_confirmation, class: "form-control"
          .form-group
            = f.submit "Sign Up", class: "btn btn-success"

    .row.mt50
      .col-xs-7.text-left
        %i.fa.fa-envelope.mr10
        We promise never do anything uncool with your info
    -#TODO strange issue with different versions of bootstrap or theme being used for btn-large on render vs redirect
