.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-7
      .ibox.float-e-margins
        .ibox-title
          %h3
            Create Account
        .ibox-content
          .row
            .col-sm-10
              -# %h3.m-t-none.m-b Create a Contact
              %p (Just add a password)
              = form_for @contact do |f|
                .form-group
                  = f.label :email, "Email"
                  = f.text_field :email, class: "form-control", value: @contact.email, disabled: true
                .form-group
                  = f.label :password, class: "label-control"
                  = f.password_field :password, class: "form-control"
                .form-group
                  = f.label :password_confirmation, class: "label-control"
                  = f.password_field :password_confirmation, class: "form-control"
                .form-group
                  = f.submit "Create", class: "btn btn-primary"
